.formularioLogin{
    background-color: white;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    padding-top: 5rem;
    border-radius: 0.2rem;
}

.tituloIniciarSesion{
    background-color: #323643;
}

@media (min-width: 992px){

    .formularioLogin{
        width: 40%;
    }
}

@media (max-width: 991px){

    .formularioLogin{
        width: 90%;
    }
}
