.tableDark {
    --bs-table-color: #fff;
    --bs-table-bg: #323643;
    --bs-table-border-color: #323643;
    --bs-table-striped-bg: #2c3034;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: #373b3e;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #606470;
    --bs-table-hover-color: #fff;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}

.tituloCodigosAdmin{
    background-color: #323643;
}