.imagenInicio{
    
}
.conoceNuestrosPaquetes{
    border-bottom: 3px solid #93DEFF;
}

.fondoPantalla{
    background: url(https://static.vecteezy.com/system/resources/previews/002/072/481/original/abstract-geometric-white-wallpaper-free-vector.jpg) no-repeat center center fixed;
    background-size: cover;
    padding-top: 5rem;
    padding-bottom: 5rem;
}