.navBar{
    background-color: #323643;
    border-bottom: 2px solid #93DEFF;
    color: white;
}

.navbarIconoBoton{
    background-color: #323643;
    border: 2px solid #323643;
}

.navbarIconoTexto{
    background-color: #323643;
    border: 2px solid #323643;
}

.navbarIconoBoton:hover{
    border-bottom: 2px solid white;
    }

.navbar-toggler {
    background-color: #F7F7F7;
}