.btn-run {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: red;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}